#birne 
{
    width: 400px;
    height: 400px;
    background-color: lightgray; 
    border-radius: 70%; 
    margin-top: 20%;

    margin-left: auto;
    margin-right: auto;
        
    
}
#button-div
{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    width: fit-content;
}